.playera {
    display: flex;
    align-items: center;
    /*background: tomato;*/
    position: relative;
    width: 550px;
    width: 60%;
}
.playera img {
    width: 100%;
    height: 100%;
}

.subarea {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45%;
    height: 70%;
    /*opacity: 0.2;*/
    z-index: 10000;
    transform: translate(-50%, -50%);

    /*https://10015.io/tools/css-background-pattern-generator#google_vignette*/
    overflow: hidden;
}

.background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45%;
    height: 70%;
    opacity: 0.3;
    transform: translate(-50%, -50%);
    background-image: repeating-conic-gradient(#474bff 0% 25%, #47d3ff 0% 50%);
    background-position: 0 0, 32px 32px;
    background-size: 10px 10px;
    background-color: #47d3ff;
}

.subarea:before {
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: red;
    position: inherit;
}

.elemento-movido {

    width: 40%;
    height: 20%;
    /*border:4px solid tomato;*/
    /*background: white;*/
    z-index: 10000;
    background-size: cover;
}

.element {
    display: flex;
    /*width: 70%;*/
}

.controllers {
    width: 20%;
}

.color-btn {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
}

.hide {
    display: none;
}

.botonera {
    display: flex;
    flex-direction: row;
    width: 100%;
}

input[type="file"] {
    display: none;
}

.upload {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
}

.cursor {
    cursor: pointer;
    transition: 0.5s ease;
}

.cursor:hover {
    background: whitesmoke;

}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
}

@media only screen and (max-width: 1168px) {

    .playera {
        width: 100%;
        display: flex;
        align-items: center;

    }
    .hide{
        display: none;
    }

    .element {
        flex-direction: column;
        width: 100%;
    }

    .controllers {
        width: 100% !important;
    }
}